{% load static %}
{% static "Image" as baseUrl %}
<div class="container" style="">
    <div class="row" >
{% for i in Inventory_Images%}
    <div class="col-md-3 col-xs-6" style="">
        <div class="panel panel-default text-center" style="">

               <div id="myCarousel" class="carousel slide" data-ride="carousel" style=""><center><img src="{{i.image.url}}" alt="Not Found" style="display: block;width:240px;height:320px;  ;"></center></a> </div>
            <div class="panel-body" style="display: inline-block;text-color:black;width:100%;padding:0px ">
            <form method = "post" action="{% url 'thumbnail_change' i.id %}">
                    {% csrf_token %}
                    <center><div class="single-shop-product"><button type="submit" class="add_to_cart_button"  style="background-color:darkblue;width:100%;">Make as Thumbnail</button> </div></center>
                </form>
            </div>
        </div>
    </div>

{% endfor %}
           </div>
</div>