{% load static%}
{% if user.is_authenticated %}

<div class="fixed-btn" style="">
    <p><a href="{% url 'upload' %}"> <img src=" {% static 'Image/plus-4-512.jpg' %}" class="img-circle" alt="Smiley face" height="65" width="65"></a></p>
</div>
{% else %}
<footer class="pagefooter" style="">
        <center>
        <p class="sitecredit"> </p>
        <p class="designcredit"></p>
        </center>
    </footer>
{% endif %}

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>