{% load static%}
{% if user.is_authenticated %}
<div class="fixed-btn" style="position:fixed;width:50px;height:50px;line-height:50px;bottom:5%;right:50%;cursor:pointer">
    <p><a href="{% url 'upload' %}"> <img src=" {% static 'Image/vippng.com-google-plus-png-71830.png' %}" class="img-circle" alt="Smiley face" height="50" width="50"></a></p>
</div>
{% else %}
<footer class="pagefooter" style="position: absolute;background:black;">
        <center>
        <p class="sitecredit"> 2020 @ All Rights Reserved | </p>
        <p class="designcredit">Inventory Manager</p>
        </center>
    </footer>
{% endif %}
  </body>
</html>