{% load static %}
{% static "Image" as baseUrl %}
<script>
    $("form").on('submit', function (e) {
   //prevent form submission / page refresh
   e.preventDefault();
    console.log('form submitted');
   //submit form with ajax
   $.get(window.location, $(this).serialize());
});
$("form select").on('change', function () {
   $("form").trigger('submit');
});
</script>
<div class="container" >
    <div class="row" >
    {% if user.is_admin is False%}
    {% for i in Inventory_Images%}
    <div class="col-md-3 col" >
        <div class="panel panel-default text-center" >

               <div id="myCarousel1" class="carousel slide" data-ride="carousel" style="">
                   <a href="{{i.image.url}}"><center><img src="{{i.image.url}}" alt="Not Found" class="img" style=""></center></a> </div>
                <div class="panel-body" style="">
               <p style="float:left;margin-left:0px;padding-left:0px">{{i.brand}}</p><p style="float:right;margin-right:0px;padding-right:0px;margin-left:10px"> Price: ${{i.price}}</p></div>
                {% if i.owner.id == user.id %}
                <form method = "post" action="{% url 'delete_invent' i.id %}">
                    {% csrf_token %}
                    <div class="single-shop-product"><button type="submit" class="add_to_cart_button" onclick="return confirm('Marking as sold will remove the item. Do you want to continue?');" style="background-color:#447604;width:100%;">Mark as Sold</button> </div>
                </form>
                {% endif %}

        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for i in Inventory_Images%}
    <div class="col-xs-6" data-aos="zoom-in" >
        <div class="panel panel-default text-center" >

               <div  id="myCarousel" class="carousel slide" data-ride="carousel" style="">
                   <a href="{% url 'gallery_details_with_pk' user.id i.id %}"><center><img src="{{i.image.url}}" alt="Not Found" class="img" style=""></center></a>
               </div>

               <div class="panel-body" style="display: inline-block;text-color:black;padding-bottom:0px;padding-left:0px;padding-right:0px ">
                   <p style="float:left;margin-left:3px;padding-left:0px">{{i.brand}}</p><p style="float:right;margin-right:0px;"> Price: ${{i.price}}</p>
                   <form action="{% url 'class_change' i.id%}" method="post" name="colorchange" onsubmit="yHandler()">
                       {% csrf_token %}
                       <p style="" id="category"><label for="category"> </label>
                           <select  id="category1" name="category"  onChange="form.submit();" >
                               <option value="" {% if i.category is None %}selected disable hidden {% endif %}  >Class</option>
                               <option value="3door" {% ifequal i.category "3door" %} selected  {% endifequal %}   >3-Door</option>
                               <option value="4door" {% ifequal i.category "4door" %} selected  {% endifequal %}   >4-Door</option>
                               <option value="topmount" {% ifequal i.category "topmount" %} selected  {% endifequal %}   >Top Mount</option>
                               <option value="bottomfreezer" {% ifequal i.category "bottomfreezer" %} selected  {% endifequal %}   >Bottom Freezer</option>
                               <option value="gasstove" {% ifequal i.category "gasstove" %} selected  {% endifequal %}   >Gas Stove</option>
                               <option value="electricstove" {% ifequal i.category "electricstove" %} selected  {% endifequal %}   >Electric Stove</option>
                               <option value="basicdryer" {% ifequal i.category "basicdryer" %} selected  {% endifequal %}   >Basic Dryer</option>
                               <option value="fldryer" {% ifequal i.category "fldryer" %} selected  {% endifequal %}   >FL Dryer</option>
                               <option value="tlwasher" {% ifequal i.category "tlwasher" %} selected  {% endifequal %}   >TL Washer</option>
                               <option value="flwasher" {% ifequal i.category "flwasher" %} selected  {% endifequal %}   >FL Washer</option>
                               <option value="Sets" {% ifequal i.category "sets" %} selected  {% endifequal %}   >Sets</option>
                               <option value="freezer" {% ifequal i.category "freezer" %} selected  {% endifequal %}   >Freezer</option>
                               <option value='quaddoor' {% ifequal i.category "quaddoor" %} selected  {% endifequal %} >Quad Door</option>
                           </select>
                       </p>
                       <p style="" id="color"><label for="color"> </label>
                           <select  name="color" id="color1" onChange="form.submit();">
                               <option value="" {% if i.color is None %}selected disable hidden {% endif %}>Color</option>
                               <option value="stainless" {% ifequal i.color "stainless" %}selected  {% endifequal %} >Stainless</option>
                               <option value="black" {% ifequal i.color "black" %}selected  {% endifequal %} >Black</option>
                               <option value="white" {% ifequal i.color "white" %}selected  {% endifequal %} >White</option>
                               <option value="beige" {% ifequal i.color "beige" %}selected  {% endifequal %} >Beige</option>
                           </select>
                       </p>
                       <input type="submit" style="display:none"/>
               </form>
               </div>
                <script type="text/javascript">

                 </script>
               <form method = "post" action="{% url 'delete_invent' i.id %}" onsubmit="yHandler()">
                   {% csrf_token %}
                   <center><div class="single-shop-product" style="width:100%;"><button type="submit" class="add_to_cart_button" onclick="return confirm('Marking as sold will remove the item. Do you want to continue?');"  style="background-color:#447604;width:100%;">Mark as Sold</button> </div></center>
               </form>
               <div class="panel-footer">
                <p style="float:center;margin:0px;padding:5px">Listed by: {{i.owner.companyname}}</p>
                </div>

        </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>