<center>
    <div class="login1">
        <h1><strong>Login</strong></h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <fieldset>
            <p><input type="hidden" name="mode" value="1" /></p>
            <p><input type="email" required placeholder="Email" id="login_email" name="login_email" autofocus="true" ></p>
            <p><input type="password" required placeholder="Password" id="login_pass" name="login_pass"></p>
            <p ><a href="register" >Not Registered?</a></p>
            <p><input type="submit" value="Login"></p>
            </fieldset>
        </form>
        <div>
            {%for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
        </div>
    </div>
</center>