    <nav>
    <div class="mainmenu-area" style="background-color:white;">
        <div class="container" style="">
            <div class="navbar navbar-default" style="border:none;background:white;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse " style="padding-left:0px;" id="demo">

                        {% if user.is_authenticated %}
                        {% if user.is_admin is False %}
                        <ul class="nav navbar-nav navbar-right" style="text-align:center;">
                        <li ><a href="{% url 'gallery_with_pk' user.id %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;">&emsp;Inventory</a></li>
                        <li ><a href="{% url 'orders_with_pk' user.id %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;"></span>&emsp;Orders</a></li>
                        <li ><a href="{% url 'logout' %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;">&emsp;Logout</a></li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav mr-auto">
                        <li class="dropdown" ><form action="{% url 'order_admin_filter' %}" method="get" name="colorchange" >
                            {% csrf_token %}
                                   <select id="comp1" name="company"  onChange="form.submit();" style="  ">
                                       <option value="" disable hidden style="text-align:left" ><b>Company</b></option>
                                       <option value="" {% ifequal "" request.GET.company %} selected {% endifequal %} >None </option>
                                       {% for a in Accounts%}
                                       <option value="{{a.companyname}}" {% ifequal a.companyname request.GET.company %} selected {% endifequal %} >{{a.companyname}}</option>
                                       {% endfor %}

                                   </select>

                            <input type="submit" style="display:none"/>
                        </form></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" >
                        <li ><a href="{% url 'gallery_admin_with_pk' user.id %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;"></span>&emsp;Inventory</a></li>
                        <li ><a href="{% url 'orders_admin_with_pk' user.id %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;"></span>&emsp;Orders</a></li>
                        <li ><a href="{% url 'logout' %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;">&emsp;Logout</a></li>
                        </ul>
                        {% endif %}


                        {% else %}
                        <ul class="nav navbar-nav navbar-right">
                        <li ><a href="{% url 'login' %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;">&emsp;Login</a></li>
                        <li><a href="{% url 'register' %}" style="color: black;font-size: 14px;font-weight: 700;padding: 20px;padding-left:0px;padding-right:15px;text-align:center;">&emsp;Sign Up</a></li>
                        </ul>
                        {% endif %}

                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    </nav>